.color-fondo{
    background-color: black;
}

.logo-tamano{
    width: 20%;
}
  .header .navbar {
    background-color: transparent;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.centrar{
    display: flex;
}

.centrar2{
    align-items: center;
    justify-content: center;
}

.cambio li:hover{
    border-color:#c78c19;
}